# Ignorar entorno virtual
venv/

# Ignorar archivos compilados de Python
__pycache__/

# Ignorar la librería pycryptodome (si se instaló en el directorio raíz)
.cryptodome-config

# Ignorar datos sensibles que no son parte del código
*.key
*.enc